/* BASIC STYLES HERE */
.fab
{
    position: fixed;
    bottom: 3vh;
    right: 3vh;
    height: 6vh;
    width: 6vh;

    z-index: 1;

    border: 2px solid #00000060;
}

.car-listing
{
    max-height: 65vh;
}

.car-listing .card
{
    height: 100%;
}

.car-listing img
{
    height: 25vh;
    object-fit: cover;
}

.car-listing .car-text
{
    overflow-y: auto;
}

.house-listing
{
    height: 30vh;
}

.house-image
{
    filter: blur(0.9px);
    object-fit: cover;
}
.house-text-box
{
    border-radius: 5px;
    background-color: rgba(30, 30, 30, 0.8);
}

.job-listing
{
    min-height: 20vh;
}