/* BASIC STYLES HERE */
.fab
{
    position: fixed;
    bottom: 3vh;
    right: 3vh;
    height: 6vh;
    width: 6vh;

    z-index: 1;

    border: 2px solid #00000060;
}

.car-listing
{
    height: 45vh;
}

.car-listing img
{
    height: 25vh;
    object-fit: cover;
}

.house-listing
{
    height: 30vh;
}

.house-image
{
    filter: blur(0.8px);
    object-fit: cover;
}

.house-text-box
{
    border-radius: 5px;
    background-color: rgba(30, 30, 30, 0.6);
}

.job-listing>.card
{
    min-height: 20vh;
}